<h1>Feedback collection!</h1>
<div class="form-container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" required minlength="6" [formControl]="nameControl"/>
        </div>
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input name="companyName" type="text" required [formControl]="companyControl"/>
        </div>
        <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input name="jobTitle" type="text" required [formControl]="jobTitleControl"/>
        </div>
        <div class="form-group">
            <label for="years">Years in current role</label>
            <input name="years" type="number" required min="0" max="50" [formControl]="yearsControl"/>
        </div>
        <div class="form-group">
            <label for="additional">What do you like about marketing corp</label>
            <textarea name="additional" required [formControl]="additionalInfoControl"></textarea>
        </div>
        <button type="submit">Submit!</button>
    </form>

</div>
